<div class="row">
  <div class="large-12 columns">
    <div class="header-links">
      <ul>
        <li><a ui-sref="home" class="navbar-link">All Tickets</a></li>
        <li><a ng-show="profile" ui-sref="userTickets" class="navbar-link" >My Tickets</a></li>
        <li><a ng-show="profile" ui-sref="account" class="navbar-link" >Account</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row faq">

  <div class="large-8 large-centered columns">

    <h3>Frequently Asked Questions</h3>

    <div class="callout">
      <h5>What in the world is this website?</h5>
      <p>This site is for players of the Jewel-Osco Monopoly game. If you're not sure what that is (or not even sure what Jewel-Osco is), I honestly feel a little bad for you because it's amazeballs.</p>
      <p>For those that are playing, use this site to post and exchange tickets with your fellow gamers.</p>
    </div>

    <div class="callout">
      <h5>I have a lot of duplicate tickets. Should I enter them all?</h5>
      <p>If you see that your duplicate hasn't been entered yet, yes! But if there are a lot of different entries for the same ticket, it might not be helpful to enter another one.</p>
    </div>

    <div class="callout">
      <h5>I've found a ticket that I'd like to claim. How do I do that?</h5>
      <p>The ticket owner's Facebook page will be linked next to the ticket. Send them a message through Facebook to request the ticket.</p>
    </div>

    <div class="callout">
      <h5>I think I found a website bug. Where can I report it?</h5>
      <p>Great question! All bugs should be entered into the <a href="https://github.com/jamigibbs/monopoly-exchange/issues">issues tracker.</a></p>
    </div>

    <div class="callout">
      <h5>I can't seem to login on my mobile phone with Chrome?</h5>
      <p>This is a known issue and a big bummer. Until I'm able to find a workaround, try using another web browser on your mobile device or use your desktop computer instead.</p>
    </div>

  </div>
</div>
